/* Formataçãpo das Folhas de Estilos*/

/*Área do navbar e nav*/
.navbar {
    background-color: #e15f41;
}
#cabecalho .nav .nav-link.active {
 background-color: #fff;
 color: #e15f41;
}
#cabecalho .nav .nav-link,
.nav-brand,
.nav-brand:hover, .nav-link:hover {
    color: #fff;
}

/* Aqui é a configuração da cor do menu navbar responsivo*/
.navbar-toggler {
    background-color: #ffeae6;
}

.carousel > .carousel-inner > .carousel-item > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.section-title {
    font-family: Pacifico, cursive;
}

.section-title-span {
    color: #e15f41
}

#sobre-o-restaurante,
#cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}

/* Aqui deixamos os titulos do Menu e Cardápio escondidos*/
.titulos-escondidos {
    display: none;
}

#caixa-de-menu {
    margin-top: 16px;
}

.nav-cardapio .nav-link.active {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    background-color: #e15f41;
}


